.SideMapping{
    width: 94%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0px;
}
.Item-Name{
    padding-left: 10%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    color: rgb(192, 190, 190);
}
// 6b63cd
// 9089d9
.Main-Content{
    width: 100%;
    min-height: auto;
    transition: max-height 450ms ease-in-out;
}
.SideMenu{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}
.SideItem{
    padding: 7px 0px;
    width: 100%;
    border-radius: 0 20px 20px 0;
    color: #514aa1;
    &:hover{
        background-color: aliceblue;
      
    }
}
.active{
    box-shadow: rgba(149, 157, 165, 0.2) 7px 7px 22px;
    background: linear-gradient(to right,#6b63cd 0%, #9089d9 100%);
    color: white;
}
.Sub-SideItem{
    padding-left: 10%;
    position: relative;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // justify-content: center;
    font-weight: 500;
    gap: 40px;
    // letter-spacing: 1px;
}
.Sub-SideLeft{
    display: flex;
    align-items: center;
    
    gap: 7px;
    .Sub-icon{
        font-size: 20px;
    }
}
.Sub-SideRight-arrow{
    font-size: 13px;
    position: absolute;
    right: 6%;
    transition: all 200ms ease-in-out;
}

.Subitems-Item-container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    // background-color: #514aa1;
    position: relative;
}
.Subitems-Item{
    width: 100%;
    padding-left: 20%;
    display: flex;
    gap: 5px;
    align-items: center;
    color: #be88d3;
}
.Subitem-circle-name{
    display: flex;
    align-items: center;
    gap: 5px;
}
.Subitem-circle{
font-size: 11px;
}
.Sub-SideRight-arrow.transform{
    transform: rotate(90deg);
}

  
  .Subsubitem-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   
    // background-color: beige;
  }
 
  .SubsubItem.show{
    width: 100%;
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
  .Subsub-Item{
    padding-left: 30%;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #be88d3;
  }
  .close{
    display: none;
  }

  
  .Subitems {
    width: 100%;
    // padding: 10px 0px;
    // padding: 10px 0px;
    // display: flex;
    // flex-direction: column;
    // align-items: flex-start;
    // gap: 15px;
    // background-color: black;
    // font-size: 13.4px;
    // cursor: pointer;
    // overflow: hidden;
    // position: relative;
    // max-height: 0; 
    // transition: max-height 450ms ease-in-out;
  }
  .SubItem-Effect{
    // padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    
    font-size: 13.4px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    max-height: 0; 
    transition: max-height 450ms ease-in-out,padding 550ms ease-in-out;
  }
  .transition {
    max-height: 1000px;
    padding: 10px 0px;
  }
  
  .no-transition {
    max-height: 0; 
  }
  