.Main-Container{
    width: 375px;
    min-height: 100vh;
    background-color: #f1f1f9;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
}
.Main-Content{
    position: relative;
    /* background-color: black; */
    width: 100%;
    flex: 9.3;
    z-index: 1;
}